body {
    font-family: sans-serif;
    margin: 20px;
}

.container {

}

.input-form {
    margin-bottom: 20px;
}

.input-form label, .input-form input, .input-form textarea, .input-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#schedule-output {
    flex-grow: 1;
}

.round {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.round-content {
    display: flex;
}

.courts {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.break {
    width: 200px;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.court {
    margin-bottom: 10px;
    margin-right: 20px;
}

.court h3 {
    margin-top: 0;
}
